<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-2" style="font-family: cursive;">出雲でラーメンを食べたい。</strong>
          <br>出雲に住んでいるラーメン好き。出雲に遊びに来たラーメン好き。
          <br>出雲に観光に来たラーメン好き。ただのラーメン好き。
          <br>
          <br>みんなで美味しいラーメンを共有しよう！
          <br>
          <br>※このサイトはポートフォリオサイトです。
          <br>※テスト利用される際は実在するメールアドレスは入力しないでください。
          <br>※FireFoxで動作確認をしています、スマートフォンからのアクセスは
          <br>画像が表示されない不具合がございます。
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
        </div>gi
      </div>
    </div>
  </article>
  <!-- <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <% @jnoodles.each do |jnoodle| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">

                <%= link_to jnoodle_path(jnoodle) do %>
                  <%= attachment_image_tag jnoodle, :image %>
                <% end %>

              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag jnoodle.user, :profile_image, fallback: "no_noodle.png", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%= link_to jnoodle.user.username, user_path(jnoodle.user) %></div>
                </div>
              </div>

              <div class="content">
                <time><%= jnoodle.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>